<h2>Funny</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="row">Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem, ipsum dolor.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>
        <tr>
            <td>Lorem, ipsum.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet consectetur.</td>
        </tr>
    </tbody>
</table>
<app-widget book="gyu_iii"></app-widget>