<div class="row mx-0">
    <form action="" class="col-12 bg-secondary-subtle rounded p-3">
        <div class="row mx-0">
            <h3>Add new book</h3>
            <!--input #titleinp type="text"  class="col-12 p-2 mb-3 rounded border-1" placeholder="Title"
                (ngModelChange)="this.actualBook.setTitle(titleinp.value);preSave($event)" [ngModel]="this.actualBook.getTitle()" [ngModelOptions]="{standalone: true}" (input)="onInput($event)"-->
            <input #titleinp type="text"  class="col-12 p-2 mb-3 rounded border-1" placeholder="Title"
            (ngModelChange)="onTitleChange($event)" [ngModel]="this.actualBook.getTitle()" [ngModelOptions]="{standalone: true}" (input)="onInput($event)">
            <input #isbninp type="text" class="col-12 p-2 mb-3 rounded border-1" placeholder="ISBN"
            (ngModelChange)="this.actualBook.setIsbn(isbninp.value);preSave($event)" [ngModel]="this.actualBook.getIsbn()" [ngModelOptions]="{standalone: true}">
            <button type="submit" class="col-4 offset-8 btn btn-primary"(click)="this.save()">Save</button>
        </div>
    </form>
</div>
<div>
    <ul class="alert">
        <li *ngIf = "this.actualBook.errors['title'] != ''">{{this.actualBook.errors['title']}}</li>
        <li *ngIf = "this.actualBook.errors['isbn'] != ''">{{this.actualBook.errors['isbn']}}</li>
    </ul>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="row">Title</th>
            <th scope="row">ISBN</th>
            <th scope="row">class</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let bookx of books">  
            <td>{{ bookx.getTitle() }}</td><td>{{ bookx.getIsbn() }}</td><td>{{ bookx.constructor.name }}</td>
        </tr>
    </tbody>
</table>