
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<div class="container-fluid">
  <div class="col-12">
    <div class="container">
      <header>
        title
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer class="text-center p-4">
        Created by:
      </footer>
    </div>
  </div>
</div>