
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<div class="container-fluid px-0 bg-light vh-100">
  <div class="col-12">
    <div class="container-lg px-0 bg-light-subtle d-flex flex-column justify-items-end vh-100">
      <header>
        <nav class="navbar border-bottom border-light border-4">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
              <h1 class="d-inline h4 ps-3">Title</h1>
            </a>
          </div>
        </nav>
      </header>
      <main class="p-4 flex-grow-1">
        <router-outlet></router-outlet>
      </main>
      <footer class="text-center p-4 border-top border-light border-4">
        Created by:
      </footer>
    </div>
  </div>
</div>